data:
  seed: 42
  cnn_features_setting:
    frontend_algorithm: ["lfcc"]  # ["mfcc"] or ["lfcc"] or ["mfcc", "lfcc"]
    use_spectrogram: False

checkpoint:
  paths: [
  "trained_models/aad__lcnn_fold_0__1712235231.8917823/ckpt.pth"
  "trained_models/aad__lcnn_fold_1__1712235231.8917823/ckpt.pth"
  ]

model:
  name: "lcnn"
  parameters:
    input_channels: 1
  optimizer:
    lr: 0.001
